
.movie-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #e1d8de;
    min-height: 100vh;
}

.movie-title {
    font-family: 'Arial', sans-serif;
    color: #0e141b;
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
}

@media (max-width: 600px) {
    .movie-title {
        font-size: 1.5rem;
    }
}